tensorflow==2.16.2
keras==3.6.0
numpy==1.26.4
scipy==1.13.1
librosa==0.10.2.post1
soundfile==0.12.1
scikit-learn==1.5.2
matplotlib==3.9.2
pandas==2.2.3
streamlit==1.40.2
requests==2.32.3
tqdm==4.66.6
jupyterlab==4.3.0
ipykernel==6.29.5
nbformat==5.10.4
